root{
    --blue: #30475e;
    --red: #f05454;
    --lgray:#e8e8e8;
    --dark-blue:#222831;
}

body{
    font: 20px, Arial, sans-serif;
}
.navbar {
    background-color: var(--red);
}

.quem-somos{
    color:#30475e;
    background-color: #e8e8e8;
}

.Parceiros{
    color:#30475e;
    background-color: #e8e8e8;
}

.margin{
    padding-bottom: 50px;
}
